body{
    margin: 0px;
    padding: 0px;
}
.box{
    display: inline-block;
    background-color: rgba(32,32,32,0.2);
}
.block{
    display: inline-block;
    text-align: center;
}
.double{
    width: 40%;
}
.triple{
    width: 25%;
}